
html, body{
    overflow-x: hidden;
}
body{
    font-family: nunito;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
    color: white;
    background-image: url(./images/portfolioBG.jpg);
    background-position: center 0px;
}

a, a:hover{
    color: black;
    text-decoration: none
}

#overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.loader{
    position: absolute;
    top: 40%;
    padding-left: 45%;
    padding-right: 50%;
    display: flex;
    flex-direction: row;
    background: black
}

.box{
    display: block;
    margin: 10px;
    border: 1em solid #00ffcc;
    border-radius: 100px;
    opacity: 0;
}
.one{
    animation: box-appear 3s linear infinite;
}
.two{
    animation: box-appear 3s linear .5s infinite;
}
.three{
    animation: box-appear 3s linear 1s infinite;
}
@keyframes box-appear{
    0%{
        opacity: 0;
    }
    16%{
        opacity: 1;
    }
    48%{
        opacity: 1;
    }
    64%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.navbar-header{
	margin-bottom: 20px;
}

.bootstrap-override-navbar-brand{
	padding-left: 5px;
	float: left;
}

.bootstrap-override-navbar-brand img{
	max-width: 80px;
}

.bootstrap-override-navbar-brand img:hover{
	max-width: 80px;
	transform: rotate(360deg);
	transition: all 0.5s ease;
}

.navbar-default {
    border-color: transparent;
    padding-top: 5px;
    background-color: rgba(0, 11, 33, 0.9);
}

#navPane .container{
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-family: roboto;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: solid 3px transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #2eeace;
	border-bottom: #2eeace solid 3px;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	-ms-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
	-webkit-transition: border-color 0.3s ease-out;
}

#activeBtn{
    color: #2eeace;
    border-bottom: #2eeace solid 3px;
}


.navbar-default .navbar-toggle {
    border: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2eeace;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 22px;
    margin-right: 20px;
    margin-bottom: 8px;
    background-color: transparent;
    border-radius: 4px;
}

.fadeOut{
    opacity: 0.5;
    transition: all 0.3s linear;
}

#dogBlog{
    font-family: raleway;
    background-color: rgba(0, 11, 33, 0.9);
    padding-top: 60px;
    padding-bottom: 60px;
}

#dogBlog div[class="col-sm-4 col-xs-12"]{
    margin-bottom: 30px;
}

#dogBlog h2{
    padding-bottom: 50px;
}

#breedDisplay{
    color: #2eeace;
    transition: all ease 0.5s;
}


#dogBlog img{
    width: 100%;
    border: white solid 5px;
    height: 300px;
}


#dogBlog img:hover{
    transition: all 0.5s ease;
    border: #2eeace solid 5px;
}

#closingBanner{
    font-family: raleway;
    color: white;
    font-size: 20px;
    background-color: rgb(0, 16, 40);
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#closingBanner h2{
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 30px;
}


#unlockPotential{
    color: black;
    font-size: 50px;
    text-shadow: 1px 1px 20px black;
    text-transform: uppercase;
}

#unlockPotential:hover{
    color: #2eeace;
    text-shadow: 1px 1px 1px black;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
     -o-transition: color 0.5s ease-out;
     -ms-transition: color 0.5s ease-out;
     transition: color 0.5s ease-out;
}

#closingMenu{
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.navBtn{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.6s ease;
}

.navBtn:hover{
    color: #2eeace;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}


.navTable{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}


div[class="feintText"] p{
    font-family: montserrat;
    padding-top: 50px;
}

.mediaField:hover{
    opacity: 1.0;
}

.mediaTable img{
    width: 30px;
    height: 28px;
}

.feintText {
    padding-top: 60px;
    color: #838cad;
    font-size: 14px;
}

.mediaTable{
    padding-top: 20px
}

.mediaField{
    opacity: 0.7;
}


.mediaField:hover{
    opacity: 1.0;
}

@media only screen and (max-width: 800px){
    .bootstrap-override-navbar-brand img{
        padding-left: 10px;
        max-width: 80px;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 22px;
        margin-right: 25px;
        margin-bottom: 8px;
        background-color: transparent;
        border-radius: 4px;
    }
    #dogBlog div[class="col-sm-4 col-xs-12"]{
        margin-bottom: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }

}


@media only screen and (max-width: 450px){

    .loader{
	    position: absolute;
	    top: 40%;
	    padding-left: 33%;
	    padding-right: 50%;
	    display: flex;
	    flex-direction: row;
	    background: black
	}

}

@media only screen and (max-width: 400px){
    .loader{
	    position: absolute;
	    top: 40%;
	    padding-left: 30%;
	    padding-right: 50%;
	    display: flex;
	    flex-direction: row;
	    background: black
	}
}



@media only screen and (min-width: 767px) and (max-width: 992px){
	#dogBlog img{
	    width: 100%;
	    border: white solid 5px;
	    height: 200px;
	}	
}

@media only screen and (max-width: 767px){
	#dogBlog img{
	    width: 300px;
	    border: white solid 5px;
	    height: 300px;
	}		
}