
html, body{
	overflow-x: hidden;
}
body{
	background: #d5ede8;
	font-family: calibri;
	margin: 0;
	text-align: center;
	overflow-x: hidden;

}

#funBanner{
	margin-top: 0px;
	background: #d5ede8;
	vertical-align: middle;
	font-family: trebuchet ms;
	overflow-y: hidden;
	font-size: 14px;
}


#bannerLink, .bannerLink:visited{
	color: inherit;
	text-decoration: none;

}
#mainHeader{
	background-image: url(https://i.imgur.com/kcHxFXT.gif);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 730px;
	margin: 0px;
}


#logoCell{
	padding-top: 10px;
	color: rgba(0,0,0,0);
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /*Non-prefixed version, currently*/

}


#logo{
	width: 80px;
}

#siteMenu{
	width: auto;
	margin-left: auto;
	margin-right: 15px;

}

.menuField{
	vertical-align: middle;
	color:white;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 16px;
	font-family: arial;
	font-style: bold;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /*Non-prefixed version, currently*/

}


.menuField:hover{
	color: #2eeace;
/*	border: 1px white solid;*/
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	 -o-transition: color 0.5s ease-out;
	 -ms-transition: color 0.5s ease-out;
	 transition: color 0.5s ease-out;
}




.menuLink, .menuLink:visited{
	color: inherit;
	text-decoration: none;

}



#sloganTop{
	vertical-align: middle;
	color:white;
/*	text-shadow: 1px 2px 5px #000000;*/
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
	font-family: serif;
	margin-top: 130px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /*Non-prefixed version, currently*/
}


#sloganBottom{
	vertical-align: middle;
	color:white;
/*	text-shadow: 1px 2px 5px #000000;*/
	font-size: 60px;
	font-weight: bold;
	font-family: arial;
	margin-top: 0px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /*Non-prefixed version, currently*/

}

#videoContainer{
	margin-left: auto;
	margin-right: auto;
	height: 100px;
}


button{
	font-family: arial black;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0);
	border: white solid 1px;
	padding: 20px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /*Non-prefixed version, currently*/
}

button:hover{
	background: white;
	font-style: bold;
	color: #009999;
}


#mainContent{
	background-size: cover;
	font-size: 30px;
	color: #001528;
	padding-top: 10px;
	padding-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	overflow-y: hidden;

}

/*#playContainer{
	text-align: center;
}


#playButton{
	font-size: 30px;
	font-family: arial;
	color: white;
	padding: 10px;
	border: white 1px solid;
}

#playButton:hover{
	color: #00ffcb;
	background: white;
	font-weight: bold;
}

#playButton, #playButton:visited{
	text-decoration: none;
}*/



.strongTextLight{
	color: #009999;
	font-size: 50px;
	font-family: impact;
	text-shadow: 1px 1px 2px black;
	text-transform: uppercase;
}

.strongTextWhite{
	color: #efefef;
	font-size: 50px;
	font-family: impact;
	text-shadow: 1px px 2px black;
	text-transform: uppercase;
}

#servicesProvided{
	margin-left: auto;
	margin-right: auto;
	background: #CCCCCC;
	padding-top: 30px;
	padding-bottom: 50px;
	overflow-y: hidden;
	overflow-x: hidden;
	font-size: 20px;
	font-family: arial black;

}


.strongTextDark{
	color: black;
	font-size: 50px;
	font-family: impact;
	text-transform: uppercase;
}

#servicesTable{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 25px;
	font-family: arial;
	color:black;

}

.service{
	padding-left: 50px;
	padding-right: 50px;
}

.serviceDesc{
	width: 330px;
	color: #111111;
	padding: 30px;
	font-size: 16px;
	line-height: 170%;

}

.paddingTop{
	padding-top: 30px;
}


.paddingBottom{
	padding-bottom: 30px;
}
#portfolioButton{
	 border: black 2px solid;
	 color: black;
	 font-size: 16px;
}

#portfolioButton:hover{
	background: black;
	color: white;
	-webkit-transition: color 1.0s ease-out;
	-moz-transition: color 1.0s ease-out;
	 -o-transition: color 1.0s ease-out;
	 -ms-transition: color 1.0s ease-out;
	 transition: color 1.0s ease-out;
}

#closingBanner{
	color: white;
	font-size: 20px;
	background: #1d1f26;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	overflow-y: hidden;

}

#unlockPotential{
	color: black;
	font-size: 50px;
	font-family: impact;
	text-shadow: 1px 1px 20px black;
}

#unlockPotential:hover{
	color: #2eeace;
	text-shadow: 1px 1px 1px black;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	 -o-transition: color 0.5s ease-out;
	 -ms-transition: color 0.5s ease-out;
	 transition: color 0.5s ease-out;
}

#closingMenu{
	margin-left: auto;
	margin-right: auto;
	width: auto;
}


.feintText{
	padding-top: 35px;
	color: #838cad;
	font-size: 14px;
}


#mediaTable{
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.mediaField{
	max-width: 80px;
	vertical-align: middle;
	opacity: 0.5;
	padding: 5px;
}

.mediaField:hover{
	opacity: 1.0;
}

.smallIMG{
	width: 30px;
}

