
html, body{
	overflow-x: hidden;
}
body{
	font-family: ubuntu;
	margin: 0;
	text-align: center;
	overflow-x: hidden;
	background-image: url(./images/portfolioBG.jpg);
	background-position: 50% 95%;

}

a, a:hover{
	color: black;
	text-decoration: none
}

#overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.loader{
    position: absolute;
    top: 40%;
    padding-left: 45%;
    padding-right: 50%;
    display: flex;
    flex-direction: row;
    background: black
}


.box{
    display: block;
    margin: 10px;
    border: 1em solid #00ffcc;
    border-radius: 100px;
    opacity: 0;
}
.one{
    animation: box-appear 3s linear infinite;
}
.two{
    animation: box-appear 3s linear .5s infinite;
}
.three{
    animation: box-appear 3s linear 1s infinite;
}
@keyframes box-appear{
    0%{
        opacity: 0;
    }
    16%{
        opacity: 1;
    }
    48%{
        opacity: 1;
    }
    64%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}


#funBanner{
	padding-top: 8px;
	background: #ddd;
	font-family: trebuchet ms;
	overflow-y: hidden;
	font-size: 14px;
}

#mainHeader div[class="container"]{
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-header{
	margin-bottom: 20px;
}

.bootstrap-override-navbar-brand{
	padding-left: 5px;
	float: left;
}

.bootstrap-override-navbar-brand img{
	max-width: 80px;
}

.bootstrap-override-navbar-brand img:hover{
	max-width: 80px;
	transform: rotate(720deg);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

.navbar-default {
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-family: roboto;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: solid 3px transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #2eeace;
	border-bottom: #2eeace solid 3px;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	-ms-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
	-webkit-transition: border-color 0.3s ease-out;
}

.navbar-default .navbar-toggle {
    border: solid 2px white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 22px;
    margin-right: 20px;
    margin-bottom: 8px;
    background-color: transparent;
    border-radius: 4px;
}

.fadeOut{
	opacity: 0.5;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;

}


#mainHeader{
	background-image: url(./images/galaxy.jpg);
	background-position: center;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 50px;
	width: 100%;
	margin: 0px;
	opacity: 0.9;
}


#sloganTop{
	margin-top: 120px;
	padding-bottom: 10px;
	color:white;
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
	font-family: serif;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /*Non-prefixed version, currently*/
}


#sloganBottom{
	vertical-align: middle;
	color:white;
	font-size: 60px;
	line-height: normal;
	font-weight: bold;
	font-family: arial;
	margin-top: 0px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /*Non-prefixed version, currently*/

}

#videoContainer{
	padding-top: 50px;
	padding-bottom: 150px;
	margin-left: auto;
	margin-right: auto;
}


button{
	font-family: arial black;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0);
	border: white solid 1px;
	padding: 20px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /*Non-prefixed version, currently*/
}

button:hover{
	background: white;
	font-style: bold;
	color: #009999;
	-webkit-transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	 -o-transition: color 0.5s linear;
	 -ms-transition: color 0.5s linear;
	 transition: all 0.5s linear;
}


#mainContent{
	font-size: 28px;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 90px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 12, 31, 0.90);
}


#playButton{
	font-size: 30px;
	font-family: arial;
	color: white;
	padding: 10px;
	border: white 1px solid;
}

#playButton:hover{
	color: #00ffcb;
	background: white;
	font-weight: bold;
}

#playButton, #playButton:visited{
	text-decoration: none;
}

#mainContent h2{
	padding-bottom: 30px;
	color: #009999;
	font-weight: bolder;
	font-size: 50px;
	font-family: exo;
	text-shadow: 1px 1px 2px black;
	text-transform: uppercase;
}


#servicesProvided{
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 12, 31, 0.9);
	padding-top: 100px;
	padding-bottom: 100px;
	font-family: exo;
	color: white;
	text-shadow: 10px 10px 20px black;
}


#servicesProvided h2{
	font-weight: bolder;
	font-size: 50px;
	padding-bottom: 50px;

}

#servicesProvided h3{
	padding-bottom: 20px;
	font-family: ubuntu;
	font-weight: bolder;
	font-size: 28px;

}

#servicesProvided p{
	padding-bottom: 20px;
	font-size: 20px;
}

#portfolioBtnForm{
	padding-top: 50px;
}

#portfolioButton{
	font-size: 16px;
	color: white; 
	border: white 2px solid;
	font-family: arial black;
	background: rgba(0, 0, 0, 0);
	border: white solid 1px;
	padding: 20px;
	text-shadow: none;
}

#portfolioButton:hover{
	background: white;
	color: black;
	-webkit-transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	 -o-transition: color 0.5s linear;
	 -ms-transition: color 0.5s linear;
	 transition: all 0.5s linear;
}

#closingBanner{
	color: white;
	font-size: 20px;
    background-color: rgb(0, 16, 40);
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

#closingBanner h2{
	font-family: impact;
	color: white;
	font-size: 50px;
	text-transform: uppercase;
	padding-bottom: 30px;
}


#unlockPotential{
	color: black;
	font-size: 50px;
	font-family: impact;
	text-shadow: 1px 1px 20px black;
	text-transform: uppercase;
}

#unlockPotential:hover{
	color: #2eeace;
	text-shadow: 1px 1px 1px black;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	 -o-transition: color 0.5s ease-out;
	 -ms-transition: color 0.5s ease-out;
	 transition: color 0.5s ease-out;
}

#closingMenu{
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

.navBtn{
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

.navBtn:hover{
	color: #2eeace;
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	-ms-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}


.navTable{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
}


div[class="feintText"] p{
	padding-top: 50px;
}

.mediaField:hover{
	opacity: 1.0;
}

.mediaTable img{
	width: 30px;
	height: 28px;
}

.feintText {
    padding-top: 60px;
    color: #838cad;
    font-size: 14px;
}

.mediaTable{
	padding-top: 20px
}

.mediaField{
	opacity: 0.7;
}


.mediaField:hover{
	opacity: 1.0;
}


@media only screen and (max-width: 800px){
	#sloganBottom{
		vertical-align: middle;
		color:white;
		font-size: 40px;
		line-height: normal;
		font-weight: bold;
		font-family: arial;
		margin-top: 0px;
		-webkit-touch-callout: none; /* iOS Safari */
	    -webkit-user-select: none; /* Safari */
	    -moz-user-select: none; /* Firefox */
	    -ms-user-select: none; /* Internet Explorer/Edge */
	    user-select: none; /*Non-prefixed version, currently*/
	}
	#sloganTop{
		margin-top: 120px;
		padding-bottom: 10px;
		color:white;
		font-size: 18px;
		font-style: italic;
		font-weight: bold;
		font-family: serif;
	}

	#mainContent h2{
		padding-bottom: 30px;
		color: #009999;
		font-weight: bolder;
		font-size: 40px;
		font-family: exo;
		text-shadow: 1px 1px 2px black;
		text-transform: uppercase;
	}
	.bootstrap-override-navbar-brand img{
		padding-left: 10px;
		max-width: 80px;
	}


	.navbar-toggle {
	    position: relative;
	    float: right;
	    padding: 9px 10px;
	    margin-top: 22px;
	    margin-right: 25px;
	    margin-bottom: 8px;
	    background-color: transparent;
	    border-radius: 4px;
	}
	#mainContent{
		font-size: 22px;
		color: #fff;
		padding-top: 60px;
		padding-bottom: 60px;
		margin-left: auto;
		margin-right: auto;
	}
	#servicesProvided h2{
		font-weight: bolder;
		font-size: 40px;
		padding-bottom: 50px;
	}
	#servicesProvided p{
	padding-bottom: 20px;
	font-size: 18px;
}

}

@media only screen and (max-width: 450px){
	.loader{
	    position: absolute;
	    top: 40%;
	    padding-left: 33%;
	    padding-right: 50%;
	    display: flex;
	    flex-direction: row;
	    background: black
	}
}

@media only screen and (max-width: 400px){
    .loader{
	    position: absolute;
	    top: 40%;
	    padding-left: 30%;
	    padding-right: 50%;
	    display: flex;
	    flex-direction: row;
	    background: black
	}

}