
html, body{
    overflow-x: hidden;
}
body{
    font-family: nunito;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
    color: white;
    background-image: url(./images/portfolioBG.jpg);
    background-position: 50% 1717px;
}

a, a:hover{
    color: black;
    text-decoration: none
}

#overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.loader{
    position: absolute;
    top: 40%;
    padding-left: 45%;
    padding-right: 50%;
    display: flex;
    flex-direction: row;
    background: black
}

.box{
    display: block;
    margin: 10px;
    border: 1em solid #00ffcc;
    border-radius: 100px;
    opacity: 0;
}
.one{
    animation: box-appear 3s linear infinite;
}
.two{
    animation: box-appear 3s linear .5s infinite;
}
.three{
    animation: box-appear 3s linear 1s infinite;
}
@keyframes box-appear{
    0%{
        opacity: 0;
    }
    16%{
        opacity: 1;
    }
    48%{
        opacity: 1;
    }
    64%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.navbar-header{
	margin-bottom: 20px;
}

.bootstrap-override-navbar-brand{
	padding-left: 5px;
	float: left;
}

.bootstrap-override-navbar-brand img{
	max-width: 80px;
}

.bootstrap-override-navbar-brand img:hover{
	max-width: 80px;
	transform: rotate(360deg);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

#navPane .container{
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-default {
    border-color: transparent;
    padding-top: 5px;
    background-color: rgba(0, 11, 33, 0.9);
}


.navbar-default .navbar-nav > li > a {
    color: white;
    font-family: roboto;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: solid 3px transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #2eeace;
	border-bottom: #2eeace solid 3px;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	-ms-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
	-webkit-transition: border-color 0.3s ease-out;
}

#activeBtn{
    color: #2eeace;
    border-bottom: #2eeace solid 3px;
}

.navbar-default .navbar-toggle {
    border: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2eeace;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 22px;
    margin-right: 20px;
    margin-bottom: 8px;
    background-color: transparent;
    border-radius: 4px;
}

.fadeOut{
    opacity: 0.5;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;

}

#mainHeader{
    padding-top: 250px;
    background-image: url(./images/particles.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: nunito;
    padding-bottom: 250px;
    opacity: 0.9;
}


#mainHeader div[class="container"]{
    padding-left: 0px;
    padding-right: 0px;
}

#mainHeader img{
    padding-top: 25px;
}

#mainHeader h2{
    font-size: 40px;
    font-family: raleway;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 35px;
}

#mainHeader p{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


.imagewrap{
    display: inline-block;
    position: relative;
}

.embBtn{
    position: absolute;
    top: 40%;
    right: 34%;
    font-size: 20px;
    font-family: raleway;
    color: white;
    opacity: 0;
    background: transparent;
    border: white solid 3px;
    padding: 10px 15px;
    transition: all 0.5 ease;
}

.embBtn:hover{
    background: white;
    color: rgb(0, 11, 33);
    transition: all 0.5 ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;    
}

#projects{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
    font-size: 18px;
    background-color: rgba(0, 11, 33, 0.9);
}

#projects img{
    width: 100%;
    border: solid white 5px;
    margin-bottom: 20px;
}

.imgFade{
    opacity: 0.35;
     transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;   
}

.btnFadeIn{
    opacity: 1.0;
    transition: all 0.5 ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;       
}

#projects h2{
    font-family: raleway;
    padding-left: 10px;
    margin-top: 0px;
}

#projects p{
    padding-left: 10px;
}

#projects div[class="col-sm-6 col-xs-12"]{
    padding-bottom: 75px;
}

hr{
    margin-left: 10px;
    opacity: 0.5;
}

.techUsed{
    padding-top: 25px;
}


#closingBanner{
    font-family: raleway;
    color: white;
    font-size: 20px;
    background-color: rgb(0, 16, 40);
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#closingBanner h2{
    font-weight: bolder;    
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 30px;
}


#unlockPotential{
    color: black;
    font-size: 50px;
    text-shadow: 1px 1px 20px black;
    text-transform: uppercase;
}

#unlockPotential:hover{
    color: #2eeace;
    text-shadow: 1px 1px 1px black;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
     -o-transition: color 0.5s ease-out;
     -ms-transition: color 0.5s ease-out;
     transition: color 0.5s ease-out;
}

#closingMenu{
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.navBtn{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.navBtn:hover{
    color: #2eeace;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}


.navTable{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}


div[class="feintText"] p{
    padding-top: 50px;
    font-family: montserrat;
}

.mediaField:hover{
    opacity: 1.0;
}

.mediaTable img{
    width: 30px;
    height: 28px;
}

.feintText {
    padding-top: 60px;
    color: #838cad;
    font-size: 14px;
}

.mediaTable{
    padding-top: 20px
}

.mediaField{
    opacity: 0.7;
}


.mediaField:hover{
    opacity: 1.0;
}

@media only screen and (max-width: 1200px){
    .embBtn{
        position: absolute;
        top: 40%;
        right: 30%;
        font-size: 20px;
        font-family: raleway;
        color: white;
        opacity: 0;
        background: transparent;
        border: white solid 3px;
        padding: 10px 15px;
        transition: all 0.5 ease;
    }
    .btnFadeIn{
        opacity: 1.0;
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;       
    }            
}

@media only screen and (max-width: 1000px){
    .embBtn{
        position: absolute;
        top: 40%;
        right: 23%;
        font-size: 20px;
        font-family: raleway;
        color: white;
        opacity: 0;
        background: transparent;
        border: white solid 3px;
        padding: 10px 15px;
        transition: all 0.5 ease;
    }
    .embBtn:hover{
        background: white;
        color: rgb(0, 11, 33);
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;    
    }
    .btnFadeIn{
        opacity: 1.0;
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;       
    }                
}


@media only screen and (max-width: 800px){
    .bootstrap-override-navbar-brand img{
        padding-left: 10px;
        max-width: 80px;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 22px;
        margin-right: 25px;
        margin-bottom: 8px;
        background-color: transparent;
        border-radius: 4px;
    }
}

@media only screen and (max-width: 767px){
    #projects{
        padding-top: 20px;
        padding-bottom: 60px;
        text-align: left;
        font-size: 18px;
        background-color: rgba(0, 11, 33, 0.9);
    }

    #projects h2{
        font-family: raleway;
        padding-left: 0px;
        margin-top: 0px;
    }

    #projects p{
        padding-left: 0px;
    }

    hr{
        margin-left: 0px;
        opacity: 0.5;
    }
    .reverse-column-order{
        display: flex;
        flex-direction: column-reverse
    }

    #projects div[class="col-sm-6 col-xs-12"]{
        padding-bottom: 15px;
    }

    #projects img{
        width: 100%;
        border: solid white 5px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .embBtn{
        position: absolute;
        top: 45%;
        right: 38%;
        font-size: 20px;
        font-family: raleway;
        color: white;
        opacity: 0;
        background: transparent;
        border: white solid 3px;
        padding: 10px 15px;
        transition: all 0.5 ease;
    }
    .embBtn:hover{
        background: white;
        color: rgb(0, 11, 33);
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;    
    }
    .btnFadeIn{
        opacity: 1.0;
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;       
    }    
}

@media only screen and (max-width: 700px){
    .embBtn{
        position: absolute;
        top: 45%;
        right: 36%;
        font-size: 20px;
        font-family: raleway;
        color: white;
        opacity: 0;
        background: transparent;
        border: white solid 3px;
        padding: 10px 15px;
        transition: all 0.5 ease;
    }
    .embBtn:hover{
        background: white;
        color: rgb(0, 11, 33);
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;    
    }
    .btnFadeIn{
        opacity: 1.0;
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;       
    }         
}

@media only screen and (max-width: 700px){
    .embBtn{
        position: absolute;
        top: 45%;
        right: 35%;
        font-size: 20px;
        font-family: raleway;
        color: white;
        opacity: 0;
        background: transparent;
        border: white solid 3px;
        padding: 10px 15px;
        transition: all 0.5 ease;
    }
    .embBtn:hover{
        background: white;
        color: rgb(0, 11, 33);
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;    
    }
    .btnFadeIn{
        opacity: 1.0;
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;       
    }     
}

@media only screen and (max-width: 600px){
    .embBtn{
        position: absolute;
        top: 45%;
        right: 33%;
        font-size: 20px;
        font-family: raleway;
        color: white;
        opacity: 0;
        background: transparent;
        border: white solid 3px;
        padding: 10px 15px;
        transition: all 0.5 ease;
    }
    .embBtn:hover{
        background: white;
        color: rgb(0, 11, 33);
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;    
    }
    .btnFadeIn{
        opacity: 1.0;
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;       
    }     
}


@media only screen and (max-width: 550px){
    .embBtn{
        position: absolute;
        top: 45%;
        right: 32%;
        font-size: 20px;
        font-family: raleway;
        color: white;
        opacity: 0;
        background: transparent;
        border: white solid 3px;
        padding: 10px 15px;
        transition: all 0.5 ease;
    }
    .embBtn:hover{
        background: white;
        color: rgb(0, 11, 33);
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;    
    }
    .btnFadeIn{
        opacity: 1.0;
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;       
    }     
}

@media only screen and (max-width: 500px){
    .embBtn{
        position: absolute;
        top: 45%;
        right: 30%;
        font-size: 20px;
        font-family: raleway;
        color: white;
        opacity: 0;
        background: transparent;
        border: white solid 3px;
        padding: 10px 15px;
        transition: all 0.5 ease;
    }
    .embBtn:hover{
        background: white;
        color: rgb(0, 11, 33);
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;    
    }
    .btnFadeIn{
        opacity: 1.0;
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;       
    }     
}

@media only screen and (max-width: 450px){
    #mainHeader{
        padding-top: 100px;
        background-image: url(./images/particles.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 16px;
        font-family: nunito;
        padding-bottom: 250px;
        opacity: 0.9;
    }
    .loader{
	    position: absolute;
	    top: 40%;
	    padding-left: 33%;
	    padding-right: 50%;
	    display: flex;
	    flex-direction: row;
	    background: black
	}
    .embBtn{
        position: absolute;
        top: 45%;
        right: 26%;
        font-size: 20px;
        font-family: raleway;
        color: white;
        opacity: 0;
        background: transparent;
        border: white solid 3px;
        padding: 10px 15px;
        transition: all 0.5 ease;
    }
    .embBtn:hover{
        background: white;
        color: rgb(0, 11, 33);
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;    
    }
    .btnFadeIn{
        opacity: 1.0;
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;       
    }            
}

@media only screen and (max-width: 400px){
    .loader{
	    position: absolute;
	    top: 40%;
	    padding-left: 30%;
	    padding-right: 50%;
	    display: flex;
	    flex-direction: row;
	    background: black
	}
    .embBtn{
        position: absolute;
        top: 45%;
        right: 25%;
        font-size: 20px;
        font-family: raleway;
        color: white;
        opacity: 0;
        background: transparent;
        border: white solid 3px;
        padding: 10px 15px;
        transition: all 0.5 ease;
    }
    .embBtn:hover{
        background: white;
        color: rgb(0, 11, 33);
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;    
    }        
    .btnFadeIn{
        opacity: 1.0;
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;       
    }
}


@media only screen and (max-width: 390px){
    .embBtn{
        position: absolute;
        top: 45%;
        right: 22%;
        font-size: 20px;
        font-family: raleway;
        color: white;
        opacity: 0;
        background: transparent;
        border: white solid 3px;
        padding: 10px 15px;
        transition: all 0.5 ease;
    }
    .embBtn:hover{
        background: white;
        color: rgb(0, 11, 33);
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;    
    }
    .btnFadeIn{
        opacity: 1.0;
        transition: all 0.5 ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;       
    }     
}
